@media screen and (orientation: landscape) {
  .container {
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);
  }

  header {
    order: 1;
    grid-column: span 48;
    grid-row: span 2;
    z-index: 1;
  }

  main {
    overflow-y: scroll;
    order: 3;
    grid-column: span 48;
    grid-row: span 35;
  }

  .day-hourly-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px 10px 5px;
  }

  .day-info {
    flex: none;
    width: 100%;
    height: 12%;
    min-height: 25px;

    flex-direction: row;
    align-items: center;

    text-align: center;
    padding: 1dvh 0px;

    &__date {
      font-size: 2.5em;
      margin-top: 0;
    }

    &__current-time {
      font-size: 2.5em;
    }
  }

  .hourly-weather {
    height: 88%;
    flex-direction: column;
    border-bottom: none;
    border-right: 2px solid rgba(70, 80, 90, 0.2);
    font-size: 1dvh;

    background: linear-gradient(
      180deg,
      transparent 0%,
      rgba(255, 255, 255, 0.7) 12%,
      rgba(255, 255, 255, 0.7) 60%,
      transparent 100%
    );

    &:last-of-type {
      border-right: none;
    }

    &__time {
      writing-mode: initial;
      transform: rotate(0deg);
    }

    &__icon {
      width: 100%;

      img {
        width: 60%;
      }
    }

    &__temp-value {
      font-size: min(5em, 36px);
    }

    table {
      font-size: 1dvw;
      padding: 0;
      margin: 0 3px 3dvh 3px;

      caption {
        text-align: center;
        text-wrap: balance;
      }

      .table_extended {
        display: table-row;
      }
    }
  }

  aside {
    order: 2;
    grid-column: span 48;
    grid-row: span 10;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 6px 10px rgba(200, 215, 255, 0.6);
    z-index: 0;
  }

  .card {
    padding: 0.6dvh 1dvw;

    &__day-of-week {
      font-size: 1.6em;
    }

    &__date {
      font-size: 1em;
      padding-bottom: 0.4em;
    }

    &__temp {
      font-size: 1.4dvw;
      font-weight: 450;
    }

    .compact {
      display: none;
    }

    .full {
      display: inherit;
    }
  }

  footer {
    padding: 0px 20px 0 20px;
    order: 4;
    grid-column: span 48;
    grid-row: span 1;
  }
}

@media screen and (max-height: 600px) {
  header {
    grid-row: span 3;

    h1 {
      padding-top: 0.8dvh;
      font-size: 4.5dvh;
    }

    #modal-open-btn {
      position: relative;
      height: 4.2dvh;
      font-size: 2.8dvh;
      padding: 0 2dvh 0 5.5dvh;

      .btn-icon {
        height: calc(4.2dvh - 4px);
        width: calc(4.2dvh - 4px);
      }
    }
  }

  main {
    grid-row: span 34;
  }

  footer {
    font-size: 1.6dvh;
  }
}

@media screen and (max-height: 700px) and (orientation: portrait) {
  main {
    overflow-y: scroll;
  }

  .day-info {
    &__date {
      margin-bottom: 5px;
    }
  }
}

@media screen and (min-height: 900px) {
  header {
    border-bottom: 3px solid var(--color-faded-white);

    #modal-open-btn {
      border: 3px solid var(--color-gray-blue);

      .btn-icon {
        height: calc(2.8dvh - 6px);
        width: calc(2.8dvh - 6px);
        outline: 4px solid var(--color-main-blue);
      }
    }
  }

  .card {
    border-radius: 15px;
  }

  .day-hourly-container {
    padding: 8px 0 8px 15px;
  }

  .day-info {
    padding: 8px 15px;
    border-bottom: 4px solid var(--color-text-1-alpha);

    .icon_color {
      padding-right: 15px;
    }
  }

  .hourly-weather {
    padding: 7px 0;

    &__temp-value {
      font-size: clamp(33px, 3.5dvw, 56px);
    }
  }

  .popup {
    max-width: 600px;
    max-height: 500px;
  }
}
