// WEATHER CARDS

aside {
  grid-column: span 6;
  grid-row: span 45;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgb(230, 235, 250);
  box-shadow: -6px 0px 10px rgba(200, 215, 255, 0.4);
}

.card {
  flex: 1;
  padding: 0.6dvh 1.8dvw;
  border-radius: 10px;
  font-size: 1.4dvh;
  color: rgb(67, 80, 89);
  background-image: linear-gradient(
    0deg,
    rgb(240, 245, 255) 0%,
    rgb(255, 255, 255) 30%
  );
  box-shadow: 0px 3px 10px rgba(200, 215, 255, 0.4);
  transition: all 0.5s;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(16, 1fr);
  align-items: center;
}

.card:hover,
.card:focus {
  scale: 1.05;
}

.card__day-of-week {
  // height: 15%;
  grid-column: span 1;
  grid-row: span 3;
  font-size: 1.2em;
  font-weight: 500;
  // color: rgb(67, 80, 89);
  // background-color: rgba(200, 35, 220, 0.4);
}

.card__date {
  // height: 10%;
  grid-column: span 1;
  grid-row: span 2;
  font-size: 0.8em;
  font-weight: 400;
  padding-bottom: 0.1em;
  // color: rgb(67, 80, 89);
  // background-color: rgba(35, 220, 180, 0.4);
}

.card__weather-icon {
  height: 90%;
  grid-column: span 1;
  grid-row: span 7;
  background: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  // background-color: rgba(35, 115, 220, 0.4);
}

.card__temp {
  // height: 18%;
  grid-column: span 1;
  grid-row: span 6;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  // color: rgb(67, 80, 89);
  // background-color: rgba(192, 220, 35, 0.4);
}
