main {
  grid-column: span 18;
  grid-row: span 45;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-blue);
  padding: 5px 0 5px 10px;
}

.day-info {
  flex: 1;
  padding: 5px 10px;
  border-bottom: 3px solid rgba(70, 80, 90, 0.6);
  color: var(--color-text-1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-size: 1dvh;

  &__day {
    flex: 1;
    font-size: 4.5em;
    font-weight: 600;
  }

  &__date {
    flex: 1;
    font-size: 2em;
    margin-top: 0.4em;
    @extend %flex-row-center-shared;
  }

  &__current-time {
    flex: 1;
    font-size: 2em;
    @extend %flex-row-center-shared;
  }

  .icon_color {
    color: var(--color-main-blue);
    padding-right: 10px;
  }
}

.hour-weather {
  flex: 1;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(70, 80, 90, 0.2);
  font-size: 1dvw;

  &:last-of-type {
    border-bottom: none;
  }

  &__time {
    font-size: min(4em, 26px);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  &__icon {
    height: 100%;
    width: fit-content;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 40%;
    }
  }

  &__temp-value {
    font-size: min(5em, 22px);
    font-weight: 500;
    color: var(--color-text-1);
    margin-top: 0.8dvh;
  }

  table {
    font-size: min(3em, 14px);
    color: var(--color-text-1);
    padding-right: 5dvw;

    td:nth-child(1) {
      text-align: center;
      color: var(--color-main-blue);
    }

    td:nth-child(2) {
      padding: 0 0.2em;
    }

    td:nth-child(3) {
      font-weight: 450;
      padding: 0 0.2em;
      text-align: center;
    }

    caption {
      font-size: 1.1em;
      font-weight: 500;
      padding: 0 0.3em;
      margin-bottom: 0.3em;
      text-align: left;
      text-wrap: nowrap;
    }

    .extended {
      display: none;
    }
  }
}
