header {
  grid-column: span 24;
  grid-row: span 2;
  background-color: var(--color-main-blue);
  box-shadow: 0px 5px 10px rgb(180, 180, 180);
  border-bottom: 2px solid var(--color-faded-white);
  @extend %flex-row-center-shared;
  z-index: 0;

  .logo-box {
    flex: 1;
    margin: 0 min(3.1dvw, 15px) 0 min(1.3dvw, 10px);
    @include bg-icon(url(../img/logo.svg), 85%);
  }

  h1 {
    flex: 2;
    height: 100%;
    padding-top: 0.7dvh;
    color: var(--color-faded-white);
    font-size: 2.7dvh;
    text-align: left;
  }
}

.search-btn-container {
  flex: 10;
  height: 100%;
  @extend %flex-row-center-shared;
}

#modal-open-btn {
  position: relative;
  height: 2.8dvh;
  width: 75%;

  padding: 0 2dvh 0 3.5dvh;
  text-align: left;
  font-size: 1.8dvh;
  border-radius: 30px;
  color: var(--color-gray-blue);
  background-color: transparent;
  border: 2px solid var(--color-gray-blue);
  transition: all 0.3s;

  &:hover {
    color: var(--color-text-1);
    background-color: var(--color-white);
    border: 2px solid var(--color-white);
  }

  .btn-icon {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: calc(2.8dvh - 4px);
    width: calc(2.8dvh - 4px);
    border-radius: 50%;
    outline: 3px solid var(--color-main-blue);
    background-color: var(--color-gray-blue);
    color: var(--color-main-blue);
    font-size: 1.5dvh;
    @extend %flex-row-center-shared;
  }

  .btn-name {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }
}

.first-appearance {
  animation: pulse 1.5s infinite;
}
