main {
  grid-column: span 18;
  grid-row: span 45;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 235, 250);
  padding: 5px 0 5px 10px;
}

.day-info {
  flex: 1;
  padding: 5px 10px;
  // background-color: rgba(196, 66, 153, 0.5);
  border-bottom: 3px solid rgba(70, 80, 90, 0.6);
  color: rgb(67, 80, 89);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-size: 1dvh;

  &__day {
    flex: 1;
    font-size: 4.5em;
    font-weight: 600;
  }

  &__date {
    flex: 1;
    font-size: 2em;
    margin-top: 0.4em;
  }

  &__current-time {
    flex: 1;
    font-size: 2em;
  }
}

.hour-weather {
  flex: 1;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(70, 80, 90, 0.2);
  // background-color: rgba(196, 151, 66, 0.5);

  &:last-of-type {
    border-bottom: none;
  }

  &__time {
    font-size: 2.2dvh;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    // background-color: rgba(192, 220, 35, 0.4);
  }

  &__icon {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(35, 220, 44, 0.4);
    text-align: center;

    img {
      height: 40%;
    }
  }

  &__temp-value {
    font-size: 2.6dvh;
    font-weight: 500;
    color: rgb(67, 80, 89);
    margin-top: 0.8dvh;
  }

  table {
    font-size: 1.7dvh;
    color: rgb(67, 80, 89);
    // background-color: rgba(196, 66, 153, 0.5);

    td:nth-child(1) {
      text-align: center;
    }
    td:nth-child(2) {
      padding: 0 5px;
    }

    td:nth-child(3) {
      font-weight: 450;
      padding: 0 5px;
      text-align: center;
      // border: 1px solid blue;
    }
  }
}
