body {
  overflow: hidden;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  background-color: rgb(230, 235, 250);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(48, 1fr);
}

@import '../components/header';
@import '../components/main-board';
@import '../components/cards';
@import '../components/footer';
