@mixin grid-cr-span-and-font($gr-col-span, $gr-row-span, $f-size, $f-weight) {
  grid-column: $gr-col-span;
  grid-row: $gr-row-span;
  font-size: $f-size;
  font-weight: $f-weight;
}

@mixin grid-fr-col-row($columns, $rows) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
}

@mixin bg-icon($url, $height) {
  @if $url == 'false' {
  } @else {
    background: $url;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: $height;
}

@mixin err-text($font-size, $font-weight, $color) {
  font-size: $font-size;
  text-align: center;
  font-weight: $font-weight;
  text-wrap: balance;
  color: $color;
}
