@font-face {
  font-family: 'geo_and_weather';
  src: url('../fonts/geo_and_weather.eot?pwfxcf');
  src: url('../fonts/geo_and_weather.eot?pwfxcf#iefix')
      format('embedded-opentype'),
    url('../fonts/geo_and_weather.ttf?pwfxcf') format('truetype'),
    url('../fonts/geo_and_weather.woff?pwfxcf') format('woff'),
    url('../fonts/geo_and_weather.svg?pwfxcf#geo_and_weather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-']::before,
[class*=' _icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'geo_and_weather' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-clock:before {
  content: '\e927';
}
._icon-arrow-down:before {
  content: '\e900';
}
._icon-arrow-down-lg:before {
  content: '\e901';
}
._icon-arrow-left:before {
  content: '\e902';
}
._icon-arrow-left-lg:before {
  content: '\e903';
}
._icon-arrow-right:before {
  content: '\e904';
}
._icon-arrow-right-long:before {
  content: '\e905';
}
._icon-arrows-rotate:before {
  content: '\e906';
}
._icon-arrow-up-bracket:before {
  content: '\e907';
}
._icon-cal:before {
  content: '\e908';
}
._icon-cal-check:before {
  content: '\e909';
}
._icon-cal-day:before {
  content: '\e90a';
}
._icon-cal-days:before {
  content: '\e90b';
}
._icon-cl:before {
  content: '\e90c';
}
._icon-cl-bolt:before {
  content: '\e90d';
}
._icon-cl-meatball:before {
  content: '\e90e';
}
._icon-cl-moon:before {
  content: '\e90f';
}
._icon-cl-moon-rain:before {
  content: '\e910';
}
._icon-cl-rain:before {
  content: '\e911';
}
._icon-cl-sh-heavy:before {
  content: '\e912';
}
._icon-cl-sun:before {
  content: '\e913';
}
._icon-cl-sun-rain:before {
  content: '\e914';
}
._icon-droplet:before {
  content: '\e915';
}
._icon-globe:before {
  content: '\e916';
}
._icon-loc-dot:before {
  content: '\e917';
}
._icon-mag-glass:before {
  content: '\e918';
}
._icon-ma-glass-arrow:before {
  content: '\e919';
}
._icon-ma-glass-loc:before {
  content: '\e91a';
}
._icon-map:before {
  content: '\e91b';
}
._icon-map-loc:before {
  content: '\e91c';
}
._icon-map-loc-dot:before {
  content: '\e91d';
}
._icon-map-pin:before {
  content: '\e91e';
}
._icon-smog:before {
  content: '\e91f';
}
._icon-snowflake:before {
  content: '\e920';
}
._icon-sun:before {
  content: '\e921';
}
._icon-temp-half:before {
  content: '\e922';
}
._icon-temp-high:before {
  content: '\e923';
}
._icon-temp-low:before {
  content: '\e924';
}
._icon-tornado:before {
  content: '\e925';
}
._icon-wind:before {
  content: '\e926';
}
