@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url("../fonts/Rubik.ttf") format("truetype");
}
/* Styles reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Reset content area sizing */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  overflow: hidden;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(0deg, #48c6ef 0%, #5971c7 100%);
}

.container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(48, 1fr);
}

header {
  grid-column: span 24;
  grid-row: span 2;
  box-shadow: 0px 5px 10px #b4b4b4;
  border-bottom: 2px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}

.logo-box {
  height: 85%;
  width: fit-content;
  margin: 0px 15px 0px 10px;
}

.logo-box img {
  height: 100%;
}

header h1 {
  height: 100%;
  padding-top: 0.7dvh;
  color: #ebebeb;
  font-size: 2.7dvh;
  text-align: left;
}

main {
  grid-column: span 18;
  grid-row: span 45;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 235, 250);
  padding: 5px 0 5px 10px;
}

/* MAIN DASH OF WEATHER PARAMETERS */
.day-info {
  flex: 1;
  padding: 5px 0;
  border-bottom: 3px solid gray;
}

.hour-weather {
  flex: 1;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
.hour-weather:last-of-type {
  border-bottom: none;
}
.hour-weather__time {
  font-size: 2.2dvh;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.hour-weather__icon {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hour-weather__icon img {
  height: 40%;
}
.hour-weather__temp-value {
  font-size: 2.6dvh;
  font-weight: 500;
  color: rgb(67, 80, 89);
  margin-top: 0.8dvh;
}
.hour-weather table {
  font-size: 1.7dvh;
  color: rgb(67, 80, 89);
}
.hour-weather table td:nth-child(2) {
  font-weight: 450;
  color: rgb(0, 0, 0);
  padding: 0 5px;
}

aside {
  grid-column: span 6;
  grid-row: span 45;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgb(230, 235, 250);
}

/* WEATHER CARDS */
.card {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  background-image: linear-gradient(0deg, rgb(241, 245, 255) 0%, rgb(255, 255, 255) 30%);
  box-shadow: 0px 3px 10px rgba(199, 215, 255, 0.4);
  transition: all 0.5s;
}

.card:hover,
.card:focus {
  scale: 1.05;
}

.card__day-of-week {
  height: 15%;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(67, 80, 89);
}

.card__date {
  height: 10%;
  font-size: 1.5em;
  font-weight: normal;
  color: rgb(67, 80, 89);
}

.card__weather-icon {
  margin: 10px 0;
  height: 50%;
}

.card__temp {
  height: 18%;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
  color: rgb(67, 80, 89);
}

/* FOOTER */
footer {
  grid-column: span 24;
  grid-row: span 1;
  font-size: 12px;
  color: #ebebeb;
  background: rgb(67, 80, 89);
}

/*# sourceMappingURL=styles.css.map */
